.navContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
  background-color: var(--orange);
  padding: 0.2rem;
}

.navItemsContainer {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  .navItem {
    border-right: solid 0.1rem black;
    padding-right: 1rem;
  }

  .navItemSelected {
    color: white;
  }

  .navItem:last-child {
    border-right: none;
  }
}

.brand {
  border: 1px solid white;
}
